<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workouts</title>
  </head>
  <%- include('../partials/_navbar.ejs') %>
  <body>
    <h1>Workouts</h1>
    <h2>Your workouts:</h2>
    <% if (workOuts.length === 0){ %>
    <p>You have no Workouts You are weak!</p>

    <%}%>
    <ul>
      <% workOuts.forEach(workout => { %>
      <li>
        <a href="/workouts/<%= workout._id%>"> <%= workout.title%></a
        ><a href="/workouts/<%= workout._id%>/edit">Edit</a>
      </li>
      <% }) %>
    </ul>

    <a href="/workouts/new">New WorkOut</a>
  </body>
</html>
