<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workouts</title>
  </head>
  <%- include('../partials/_navbar.ejs') %>
  <body>
    <h1><%= workout.title %></h1>
    <p>Exercises:</p>

    <% workout.exercise.forEach((ex) => { %>
    <p><%= ex.name %></p>
    <% }) %>

    <button type="submit">Add exercise</button>

    <form action="/workouts/<%= workout._id%>" method="POST">
      <label for="name"> 1 Name</label>
      <input type="text" name="name" id="name" />
      <label for="sets"> Sets</label
      ><input type="number" name="sets" id="sets" />
      <label for="reps"> reps</label
      ><input type="number" name="reps" id="reps" />
      <label for="weight"> Weight</label
      ><input type="number" name="weight" id="weight" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
